In [5]:
import pandas as pd
import numpy as np

In [6]:
df_credito = pd.read_csv('https://raw.githubusercontent.com/lcbjrrr/QuantumF/main/credit%20-%20ok.csv')

df_credito

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529544,High_spent_Small_value_payments,312.4940887,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.2802216,Low_spent_Large_value_payments,284.6291625,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.69952126,Low_spent_Medium_value_payments,331.2098629,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580744,Low_spent_Small_value_payments,223.4513097,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.42015309,High_spent_Medium_value_payments,341.489231,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83139,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133256,High_spent_Large_value_payments,479.8662282,Poor
83140,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595029,High_spent_Medium_value_payments,496.6516104,Poor
83141,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847745,High_spent_Large_value_payments,516.8090833,Poor
83142,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.6725822,Low_spent_Large_value_payments,319.1649785,Standard
83143,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638652,!@9#%8,393.6736956,Poor

In [17]:
#Identificar os outliers e tipos de váriaveis
df_credito.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83144 entries, 0 to 83143
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        83144 non-null  object
 1   Customer_ID               83144 non-null  object
 2   Month                     83144 non-null  object
 3   Name                      74822 non-null  object
 4   Age                       83144 non-null  object
 5   SSN                       83144 non-null  object
 6   Occupation                83144 non-null  object
 7   Annual_Income             83144 non-null  object
 8   Monthly_Inhand_Salary     83144 non-null  float64
 9   Num_Bank_Accounts         83144 non-null  int64
 10  Num_Credit_Card           83144 non-null  int64
 11  Interest_Rate             83144 non-null  int64
 12  Num_of_Loan               83144 non-null  object
 13  Type_of_Loan              73622 non-null  object
 14  Delay_from_due_date       83144 non-null  int64
 15  Num_of_Delayed_Payment    77339 non-null  object
 16  Changed_Credit_Limit      83144 non-null  object
 17  Num_Credit_Inquiries      81528 non-null  float64
 18  Credit_Mix                83144 non-null  object
 19  Outstanding_Debt          83144 non-null  object
 20  Credit_Utilization_Ratio  83144 non-null  float64
 21  Credit_History_Age        75659 non-null  object
 22  Payment_of_Min_Amount     83144 non-null  object
 23  Total_EMI_per_month       83144 non-null  float64
 24  Amount_invested_monthly   79455 non-null  object
 25  Payment_Behaviour         83144 non-null  object
 26  Monthly_Balance           82125 non-null  object
 27  Credit_Score              83144 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 17.8+ MB

In [8]:
#Quantidade de linhas com texto
regex_pattern = r'^-?\d+(\.\d+)?$'

quantidade_texto = df_credito[~df_credito['Age'].str.match(regex_pattern)].shape[0]

print(f"Quantidade de linhas com valores não numéricos: {quantidade_texto}")

Quantidade de linhas com valores não numéricos: 4125

In [9]:
#Removendo os caracteres especiais
df_credito['Age'] = df_credito['Age'].str.replace('_','', regex=False)
df_credito['Name'] = df_credito['Age'].str.replace('_','', regex=False)
df_credito['Annual_Income'] = df_credito['Annual_Income'].str.replace('_','', regex=False)

In [25]:
linhas_texto = df_credito[~df_credito['Monthly_Balance'].str.match(regex_pattern,na=False)]

print("Linhas com valores não numéricos (texto):")
print(linhas_texto[['Monthly_Balance']])

Linhas com valores não numéricos (texto):
      Monthly_Balance
197               NaN
314               NaN
388               NaN
456               NaN
457               NaN
...               ...
82964             NaN
82983             NaN
82996             NaN
82998             NaN
83071             NaN

[1026 rows x 1 columns]

In [12]:
#Conta a quantidade de linhas com "Nan"

print (df_credito.isna().sum())

ID                              0
Customer_ID                     0
Month                           0
Name                         8322
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       12441
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                 9522
Delay_from_due_date             0
Num_of_Delayed_Payment       5805
Changed_Credit_Limit            0
Num_Credit_Inquiries         1616
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           7485
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      3689
Payment_Behaviour               0
Monthly_Balance              1019
Credit_Score                    0
dtype: int64

Foram encontrados registros com dados com caracteres especiais, nulos, vázio, etc. Para os dados nessas condições, foram feitos tratamentos levando em consideração, o "Customer_ID", com base nele, foram feitas as correções.

In [ ]:
def preencher_valores_nulo(df_credito):
    #Ordenar o DataFrame por Customer_ID
    df_credito.sort_values(by = ['Customer_ID'])

    #Preencher valores vázios com o primeiro valor não nulo
    df_credito['Monthly_Inhand_Salary'] = df_credito.groupby(['Customer_ID'], group_keys=True )[['Monthly_Inhand_Salary']].transform(
        lambda x: x.ffill().bfill()
    )
    
    df_credito['Name'] = df_credito.groupby(['Customer_ID'], group_keys=True )[['Name']].transform(
        lambda x: x.ffill().bfill()
    )

    #Primeiro alteramos os valores que possuem '_____' na coluna 'Occupation' para Nan, depois substití para o 1° valor válido por cliente.
    df_credito['Occupation'] = df_credito['Occupation'].replace('_______', np.nan)
    df_credito['Occupation'] = df_credito.groupby(['Customer_ID'], group_keys=True )[['Occupation']].transform(
        lambda x: x.ffill().bfill()
    )

    #Primeiro alteramos os valores que possuem '#F%$D@*&8' na coluna 'SSN' para Nan, depois substití para o 1° valor válido por cliente.
    df_credito['SSN'] = df_credito['SSN'].replace('#F%$D@*&8', np.nan)
    df_credito['SSN'] = df_credito.groupby(['Customer_ID'], group_keys=True )[['SSN']].transform(
        lambda x: x.ffill().bfill()
    )

    return df_credito

df_preenchido = preencher_valores_nulo(df_credito)

print("\nDataFrame após preenchimento dos valores vazios:")
print(df_credito)

In [ ]:
#df_credito.head(100)
df_credito.loc[df_credito['Customer_ID'] == 'CUS_0x10a9']

In [15]:
# Agrupar por 'Customer_ID' e listar os valores únicos de 'Monthly_Inhand_Salary'
valores_diferentes = df_credito.groupby('Customer_ID')['Monthly_Inhand_Salary'].unique().reset_index()

# Exibir o resultado
print(valores_diferentes)

      Customer_ID Monthly_Inhand_Salary
0      CUS_0x1000         [2706.161667]
1      CUS_0x1009             [4250.39]
2      CUS_0x100b           [9549.7825]
3      CUS_0x1011           [5208.8725]
4      CUS_0x1015            [3725.585]
...           ...                   ...
10389   CUS_0xff3          [1176.39875]
10390   CUS_0xff4            [2415.855]
10391   CUS_0xff6         [9727.326667]
10392   CUS_0xffc           [5218.0975]
10393   CUS_0xffd             [3749.87]

[10394 rows x 2 columns]

Validar se existem clientes que possuam mais de um valor para a coluna "Monthly_Inhand_Salary", com base no retorno, traçaremos um plano para tratar os valores que estejam "Vázio".

In [67]:
# Agrupar por 'Customer_ID' e contar valores distintos em 'Monthly_Inhand_Salary'
distinct_count = df_credito.groupby('Customer_ID')['Monthly_Inhand_Salary'].nunique()

# Filtrar os 'Customer_ID' que têm mais de um valor distinto
customer_ids = distinct_count[distinct_count > 1].index

# Exibir os Customer_IDs que possuem mais de um valor distinto
print("Customer_IDs com mais de um valor distinto em Monthly_Inhand_Salary:")
print(customer_ids.tolist())

Customer_IDs com mais de um valor distinto em Monthly_Inhand_Salary:
['CUS_0x105b', 'CUS_0x1075', 'CUS_0x108a', 'CUS_0x10a9', 'CUS_0x10f9', 'CUS_0x1130', 'CUS_0x1134', 'CUS_0x1182', 'CUS_0x1190', 'CUS_0x11b7', 'CUS_0x12be', 'CUS_0x133b', 'CUS_0x1370', 'CUS_0x1382', 'CUS_0x143c', 'CUS_0x14ea', 'CUS_0x1546', 'CUS_0x161b', 'CUS_0x1750', 'CUS_0x17ec', 'CUS_0x1810', 'CUS_0x181a', 'CUS_0x1986', 'CUS_0x19a8', 'CUS_0x1a8d', 'CUS_0x1aaf', 'CUS_0x1aeb', 'CUS_0x1e18', 'CUS_0x1e9b', 'CUS_0x1e9c', 'CUS_0x2084', 'CUS_0x20b5', 'CUS_0x21a3', 'CUS_0x21b7', 'CUS_0x2270', 'CUS_0x22a1', 'CUS_0x22b7', 'CUS_0x236b', 'CUS_0x2391', 'CUS_0x242a', 'CUS_0x2467', 'CUS_0x2479', 'CUS_0x2513', 'CUS_0x25ed', 'CUS_0x2602', 'CUS_0x264b', 'CUS_0x26a9', 'CUS_0x26bf', 'CUS_0x27ae', 'CUS_0x2827', 'CUS_0x284a', 'CUS_0x286f', 'CUS_0x290b', 'CUS_0x2912', 'CUS_0x292d', 'CUS_0x29ae', 'CUS_0x29e9', 'CUS_0x2a06', 'CUS_0x2a3a', 'CUS_0x2a57', 'CUS_0x2a7d', 'CUS_0x2a91', 'CUS_0x2ab3', 'CUS_0x2ca3', 'CUS_0x2d05', 'CUS_0x2d62', 'CUS_0x2d82', 'CUS_0x2d98', 'CUS_0x2dc9', 'CUS_0x2eb4', 'CUS_0x2ed4', 'CUS_0x2f0a', 'CUS_0x2f3d', 'CUS_0x2f53', 'CUS_0x2f91', 'CUS_0x3033', 'CUS_0x3108', 'CUS_0x31e3', 'CUS_0x31e9', 'CUS_0x3215', 'CUS_0x3221', 'CUS_0x32a5', 'CUS_0x34d2', 'CUS_0x3507', 'CUS_0x3553', 'CUS_0x3554', 'CUS_0x3636', 'CUS_0x3655', 'CUS_0x36ab', 'CUS_0x36bb', 'CUS_0x3769', 'CUS_0x376a', 'CUS_0x37ea', 'CUS_0x3815', 'CUS_0x3872', 'CUS_0x38b2', 'CUS_0x38c4', 'CUS_0x3a6c', 'CUS_0x3a86', 'CUS_0x3ade', 'CUS_0x3af9', 'CUS_0x3b10', 'CUS_0x3b3b', 'CUS_0x3b52', 'CUS_0x3bfb', 'CUS_0x3c09', 'CUS_0x3c21', 'CUS_0x3d09', 'CUS_0x3d6d', 'CUS_0x3d99', 'CUS_0x3e5c', 'CUS_0x3e92', 'CUS_0x3ebe', 'CUS_0x3ec1', 'CUS_0x3ee7', 'CUS_0x3f51', 'CUS_0x3ff4', 'CUS_0x3ff5', 'CUS_0x4021', 'CUS_0x40c5', 'CUS_0x414d', 'CUS_0x41d5', 'CUS_0x4250', 'CUS_0x4280', 'CUS_0x4313', 'CUS_0x438d', 'CUS_0x43de', 'CUS_0x4423', 'CUS_0x4459', 'CUS_0x4487', 'CUS_0x4563', 'CUS_0x45f7', 'CUS_0x4605', 'CUS_0x4657', 'CUS_0x46c4', 'CUS_0x46e8', 'CUS_0x4781', 'CUS_0x47bc', 'CUS_0x47fe', 'CUS_0x4824', 'CUS_0x48aa', 'CUS_0x48ab', 'CUS_0x48e6', 'CUS_0x48f2', 'CUS_0x4a93', 'CUS_0x4ac9', 'CUS_0x4adc', 'CUS_0x4bda', 'CUS_0x4be', 'CUS_0x4bef', 'CUS_0x4c2c', 'CUS_0x4c4f', 'CUS_0x4c84', 'CUS_0x4c8c', 'CUS_0x4c9', 'CUS_0x4cb5', 'CUS_0x4cce', 'CUS_0x4ce7', 'CUS_0x4ceb', 'CUS_0x4d92', 'CUS_0x4dba', 'CUS_0x4dd1', 'CUS_0x4e14', 'CUS_0x4e5', 'CUS_0x4e71', 'CUS_0x4f31', 'CUS_0x4f52', 'CUS_0x4fa6', 'CUS_0x4fb5', 'CUS_0x4fb8', 'CUS_0x4fc1', 'CUS_0x4feb', 'CUS_0x4fee', 'CUS_0x5054', 'CUS_0x506c', 'CUS_0x50e1', 'CUS_0x5189', 'CUS_0x51e0', 'CUS_0x51e1', 'CUS_0x51fe', 'CUS_0x5234', 'CUS_0x530e', 'CUS_0x531b', 'CUS_0x53ad', 'CUS_0x541', 'CUS_0x5447', 'CUS_0x5451', 'CUS_0x5480', 'CUS_0x54bd', 'CUS_0x553', 'CUS_0x5537', 'CUS_0x5543', 'CUS_0x554b', 'CUS_0x557', 'CUS_0x5585', 'CUS_0x55b3', 'CUS_0x55e4', 'CUS_0x55eb', 'CUS_0x5640', 'CUS_0x5665', 'CUS_0x569a', 'CUS_0x56e5', 'CUS_0x5719', 'CUS_0x5749', 'CUS_0x57a1', 'CUS_0x57c2', 'CUS_0x57e', 'CUS_0x583b', 'CUS_0x589f', 'CUS_0x58b5', 'CUS_0x58d4', 'CUS_0x5a03', 'CUS_0x5a3f', 'CUS_0x5a61', 'CUS_0x5ab', 'CUS_0x5af1', 'CUS_0x5b22', 'CUS_0x5b30', 'CUS_0x5b42', 'CUS_0x5b70', 'CUS_0x5bd2', 'CUS_0x5c68', 'CUS_0x5cdf', 'CUS_0x5d77', 'CUS_0x5d7e', 'CUS_0x5e44', 'CUS_0x5eae', 'CUS_0x5edf', 'CUS_0x5eec', 'CUS_0x5f43', 'CUS_0x5f6e', 'CUS_0x5f81', 'CUS_0x6079', 'CUS_0x60c3', 'CUS_0x60f1', 'CUS_0x6102', 'CUS_0x6136', 'CUS_0x6276', 'CUS_0x632e', 'CUS_0x634d', 'CUS_0x638d', 'CUS_0x63a6', 'CUS_0x6420', 'CUS_0x6423', 'CUS_0x6435', 'CUS_0x6442', 'CUS_0x6492', 'CUS_0x64ae', 'CUS_0x64b4', 'CUS_0x652e', 'CUS_0x6534', 'CUS_0x65a9', 'CUS_0x65d6', 'CUS_0x65df', 'CUS_0x65e4', 'CUS_0x668f', 'CUS_0x66bb', 'CUS_0x676b', 'CUS_0x67bb', 'CUS_0x6854', 'CUS_0x68c8', 'CUS_0x68ef', 'CUS_0x691e', 'CUS_0x697', 'CUS_0x697d', 'CUS_0x69ff', 'CUS_0x6a11', 'CUS_0x6a52', 'CUS_0x6a5f', 'CUS_0x6ab3', 'CUS_0x6b1d', 'CUS_0x6b8d', 'CUS_0x6c0f', 'CUS_0x6c83', 'CUS_0x6cb4', 'CUS_0x6cb9', 'CUS_0x6cd4', 'CUS_0x6ce', 'CUS_0x6cf3', 'CUS_0x6d0e', 'CUS_0x6d15', 'CUS_0x6d35', 'CUS_0x6e8d', 'CUS_0x6e91', 'CUS_0x6eb3', 'CUS_0x6ebb', 'CUS_0x6ef6', 'CUS_0x6f2a', 'CUS_0x6f5d', 'CUS_0x6fbb', 'CUS_0x6fd5', 'CUS_0x7084', 'CUS_0x7127', 'CUS_0x713d', 'CUS_0x7148', 'CUS_0x719', 'CUS_0x727f', 'CUS_0x72bc', 'CUS_0x72c0', 'CUS_0x738b', 'CUS_0x73db', 'CUS_0x7453', 'CUS_0x74e7', 'CUS_0x74f5', 'CUS_0x7532', 'CUS_0x753c', 'CUS_0x7541', 'CUS_0x754d', 'CUS_0x760c', 'CUS_0x7756', 'CUS_0x775a', 'CUS_0x7813', 'CUS_0x787f', 'CUS_0x78a6', 'CUS_0x78f3', 'CUS_0x7900', 'CUS_0x7910', 'CUS_0x79d9', 'CUS_0x7aa9', 'CUS_0x7ab6', 'CUS_0x7b0', 'CUS_0x7b14', 'CUS_0x7b39', 'CUS_0x7b47', 'CUS_0x7b90', 'CUS_0x7bb', 'CUS_0x7ccf', 'CUS_0x7dec', 'CUS_0x7ed7', 'CUS_0x7ed8', 'CUS_0x7f08', 'CUS_0x8018', 'CUS_0x8162', 'CUS_0x8216', 'CUS_0x82f8', 'CUS_0x82fd', 'CUS_0x8359', 'CUS_0x839b', 'CUS_0x83e8', 'CUS_0x84bf', 'CUS_0x84d1', 'CUS_0x8536', 'CUS_0x859d', 'CUS_0x85fa', 'CUS_0x869', 'CUS_0x8697', 'CUS_0x8747', 'CUS_0x8757', 'CUS_0x8771', 'CUS_0x87d4', 'CUS_0x87e4', 'CUS_0x8854', 'CUS_0x88ca', 'CUS_0x8917', 'CUS_0x8919', 'CUS_0x8a63', 'CUS_0x8a74', 'CUS_0x8aa2', 'CUS_0x8b3', 'CUS_0x8b44', 'CUS_0x8b4f', 'CUS_0x8b6f', 'CUS_0x8b99', 'CUS_0x8bcf', 'CUS_0x8bdd', 'CUS_0x8be2', 'CUS_0x8c3', 'CUS_0x8c36', 'CUS_0x8c9a', 'CUS_0x8c9c', 'CUS_0x8c9e', 'CUS_0x8cbe', 'CUS_0x8d0d', 'CUS_0x8d90', 'CUS_0x8d9d', 'CUS_0x8da1', 'CUS_0x8e9c', 'CUS_0x8eb2', 'CUS_0x8ec', 'CUS_0x8f05', 'CUS_0x8f35', 'CUS_0x8f68', 'CUS_0x8fb4', 'CUS_0x903f', 'CUS_0x9093', 'CUS_0x90d2', 'CUS_0x9185', 'CUS_0x91b', 'CUS_0x922e', 'CUS_0x9296', 'CUS_0x92df', 'CUS_0x937d', 'CUS_0x938f', 'CUS_0x93a5', 'CUS_0x93cd', 'CUS_0x9449', 'CUS_0x94bc', 'CUS_0x94e2', 'CUS_0x94e3', 'CUS_0x94f4', 'CUS_0x952a', 'CUS_0x9535', 'CUS_0x9538', 'CUS_0x95d0', 'CUS_0x9650', 'CUS_0x96c3', 'CUS_0x96da', 'CUS_0x96f7', 'CUS_0x9760', 'CUS_0x9761', 'CUS_0x97d', 'CUS_0x981a', 'CUS_0x983a', 'CUS_0x98ec', 'CUS_0x98fc', 'CUS_0x994c', 'CUS_0x99b4', 'CUS_0x9a2c', 'CUS_0x9a4b', 'CUS_0x9a4f', 'CUS_0x9a88', 'CUS_0x9adc', 'CUS_0x9b33', 'CUS_0x9b7d', 'CUS_0x9b9e', 'CUS_0x9bf9', 'CUS_0x9c3a', 'CUS_0x9c3b', 'CUS_0x9c7f', 'CUS_0x9c96', 'CUS_0x9d3d', 'CUS_0x9d62', 'CUS_0x9da4', 'CUS_0x9dc3', 'CUS_0x9e76', 'CUS_0x9e9e', 'CUS_0x9efd', 'CUS_0x9f55', 'CUS_0x9f91', 'CUS_0x9fd7', 'CUS_0xa015', 'CUS_0xa01f', 'CUS_0xa08c', 'CUS_0xa090', 'CUS_0xa0c8', 'CUS_0xa187', 'CUS_0xa1c3', 'CUS_0xa1ec', 'CUS_0xa234', 'CUS_0xa293', 'CUS_0xa29a', 'CUS_0xa2b8', 'CUS_0xa374', 'CUS_0xa3df', 'CUS_0xa42a', 'CUS_0xa4bd', 'CUS_0xa4e9', 'CUS_0xa503', 'CUS_0xa514', 'CUS_0xa54d', 'CUS_0xa570', 'CUS_0xa5c2', 'CUS_0xa663', 'CUS_0xa677', 'CUS_0xa6df', 'CUS_0xa789', 'CUS_0xa7b6', 'CUS_0xa843', 'CUS_0xa87f', 'CUS_0xa8ec', 'CUS_0xa90', 'CUS_0xa95', 'CUS_0xa969', 'CUS_0xa974', 'CUS_0xa977', 'CUS_0xa9a', 'CUS_0xa9e7', 'CUS_0xa9f', 'CUS_0xaa52', 'CUS_0xaa66', 'CUS_0xaa8d', 'CUS_0xaac2', 'CUS_0xaad9', 'CUS_0xab0d', 'CUS_0xab1e', 'CUS_0xab3a', 'CUS_0xab56', 'CUS_0xaba4', 'CUS_0xabb4', 'CUS_0xac23', 'CUS_0xac5a', 'CUS_0xacf', 'CUS_0xacf7', 'CUS_0xadb2', 'CUS_0xadc8', 'CUS_0xadd2', 'CUS_0xadf6', 'CUS_0xaeb1', 'CUS_0xaec2', 'CUS_0xaf3', 'CUS_0xaf49', 'CUS_0xafb', 'CUS_0xafc0', 'CUS_0xafda', 'CUS_0xaffc', 'CUS_0xb023', 'CUS_0xb060', 'CUS_0xb096', 'CUS_0xb0e5', 'CUS_0xb102', 'CUS_0xb14f', 'CUS_0xb17b', 'CUS_0xb183', 'CUS_0xb1a2', 'CUS_0xb1ca', 'CUS_0xb1f5', 'CUS_0xb213', 'CUS_0xb239', 'CUS_0xb276', 'CUS_0xb2a3', 'CUS_0xb3ab', 'CUS_0xb471', 'CUS_0xb473', 'CUS_0xb47f', 'CUS_0xb52b', 'CUS_0xb52d', 'CUS_0xb53d', 'CUS_0xb59c', 'CUS_0xb607', 'CUS_0xb69a', 'CUS_0xb788', 'CUS_0xb793', 'CUS_0xb79c', 'CUS_0xb88c', 'CUS_0xb910', 'CUS_0xb92b', 'CUS_0xb971', 'CUS_0xb9b8', 'CUS_0xba21', 'CUS_0xba9f', 'CUS_0xbab0', 'CUS_0xbad6', 'CUS_0xbb25', 'CUS_0xbb70', 'CUS_0xbba7', 'CUS_0xbba8', 'CUS_0xbbda', 'CUS_0xbc1f', 'CUS_0xbc40', 'CUS_0xbc50', 'CUS_0xbce', 'CUS_0xbcfa', 'CUS_0xbd45', 'CUS_0xbe03', 'CUS_0xbe14', 'CUS_0xbe1b', 'CUS_0xbe55', 'CUS_0xbedd', 'CUS_0xbf99', 'CUS_0xbfa0', 'CUS_0xbfa1', 'CUS_0xbfbf', 'CUS_0xc00f', 'CUS_0xc045', 'CUS_0xc09f', 'CUS_0xc0a4', 'CUS_0xc173', 'CUS_0xc1b4', 'CUS_0xc1e9', 'CUS_0xc222', 'CUS_0xc2a4', 'CUS_0xc2bf', 'CUS_0xc30b', 'CUS_0xc3ae', 'CUS_0xc42f', 'CUS_0xc4a2', 'CUS_0xc4b2', 'CUS_0xc50f', 'CUS_0xc52c', 'CUS_0xc56a', 'CUS_0xc5ea', 'CUS_0xc5ee', 'CUS_0xc5f4', 'CUS_0xc620', 'CUS_0xc63a', 'CUS_0xc64e', 'CUS_0xc6c2', 'CUS_0xc6fa', 'CUS_0xc702', 'CUS_0xc726', 'CUS_0xcb9', 'CUS_0xcda', 'CUS_0xd05', 'CUS_0xd3e', 'CUS_0xd6f', 'CUS_0xd73', 'CUS_0xd78', 'CUS_0xd83', 'CUS_0xdc2', 'CUS_0xdd3', 'CUS_0xe4f', 'CUS_0xe6c', 'CUS_0xe75', 'CUS_0xe84', 'CUS_0xf74', 'CUS_0xfac', 'CUS_0xfb8']

In [33]:
#df_credito.head(100)
df_credito.loc[df_credito['Customer_ID'] == 'CUS_0x11']

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
72705,0x1e86a,CUS_0x1075,January,Dorfmanv,38,225-94-8383,Manager,24709.33,2086.110833,5,...,Good,413.18,28.991447,NaN,No,43.385046,53.19071851,!@9#%8,362.0353188,Poor
72706,0x1e86b,CUS_0x1075,February,Dorfmanv,38,225-94-8383,Manager,24709.33,2086.110833,5,...,Good,413.18,26.311682,17 Years and 4 Months,No,43.385046,189.2278501,Low_spent_Small_value_payments,265.9981872,Poor
72707,0x1e86c,CUS_0x1075,March,Dorfmanv,38,225-94-8383,Manager,24709.33,2086.110833,5,...,Good,413.18,30.962251,17 Years and 5 Months,No,43.385046,NaN,!@9#%8,306.9544402,Poor
72708,0x1e86d,CUS_0x1075,April,Dorfmanv,38,225-94-8383,Manager,24709.33,2086.110833,5,...,_,413.18,33.169324,17 Years and 6 Months,No,43.385046,26.71784895,High_spent_Medium_value_payments,388.5081883,Poor
72709,0x1e86e,CUS_0x1075,May,Dorfmanv,38,225-94-8383,Manager,24709.33,2086.110833,5,...,Good,413.18,31.820925,NaN,No,196.027162,__10000__,Low_spent_Medium_value_payments,344.3966417,Standard
72710,0x1e86f,CUS_0x1075,June,Dorfmanv,38,225-94-8383,Manager,24709.33,1933.468718,5,...,Good,413.18,32.782005,17 Years and 8 Months,NM,196.027162,186.1145269,Low_spent_Medium_value_payments,259.1115104,Poor
72711,0x1e870,CUS_0x1075,July,Dorfmanv,39,225-94-8383,Manager,24709.33,1933.468718,5,...,Good,413.18,38.162437,17 Years and 9 Months,No,196.027162,__10000__,Low_spent_Small_value_payments,366.0683498,Poor
72712,0x1e871,CUS_0x1075,August,Dorfmanv,39,225-94-8383,Manager,24709.33,1933.468718,5,...,_,413.18,32.761252,17 Years and 10 Months,No,196.027162,120.5587399,Low_spent_Small_value_payments,334.6672974,Poor

In [24]:
#Convertendo as colunas que possuem números para float
df_credito["Annual_Income"] = df_credito["Annual_Income"].str.replace(',', '').astype(float)
df_credito["Monthly_Balance"] = df_credito["Monthly_Balance"].astype(np.Int64)
df_credito.info()

AttributeError: Can only use .str accessor with string values!

In [28]:
df_credito.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')